@media screen and (min-width: 320px) {
  .about {
    width: 100%;
    padding-top: 125px;
    padding-bottom: 0;
    background-color: var(--primary-bg-color);
  }
  .about__container,
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .about__container::after {
    content: '';
    display: block;
    width: 100%;
    height: 133px;
    background-image: url('../images/about/milk-mob-x1.png');
    position: absolute;
    left: 0px;
    bottom: 56px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container::after {
      background-image: url('../images/about/milk-mob-x2.png');
      background-size: cover;
    }
  }
  .about__txt1,
  .about__title {
    margin-right: auto;
    margin-left: auto;
  }
  .subtitle {
    @include font(18px, 400, 1.17, normal);
  }
  .section-title {
    @include font(34px, 400, 1.15, 0.04em);
  }
  .about__txt1 {
    width: 198px;
    color: var(--secondary-title-color);
    margin-bottom: 15px;
  }
  .about__title {
    color: var(--primary-title-color);
    margin-bottom: 26px;
  }

  .about__txt2,
  .about__txt3,
  .about__txt4 {
    font-family: 'DM Sans', sans-serif;
    color: var(--secondary-text-color);
    margin-right: 30px;
    margin-left: 30px;
    @include font(12px, 500, 1.58, normal);
  }
  .about__txt2 {
    margin-bottom: 31px;
  }
  .about__txt2::before {
    content: '';
    display: block;
    background-image: url('../images/about/cow-mob-x1.png');

    width: 280px;
    height: 279px;
    margin-right: -30px;
    margin-bottom: 46px;
    margin-left: -30px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about__txt2::before {
      background-image: url('../images/about/cow-mob-x2.png');
      background-size: cover;
    }
  }
  .about__txt3 {
    margin-bottom: 25px;
  }
  .about__txt4 {
    margin-bottom: 17px;
  }
  .about__txt3,
  .about__txt4 {
    color: var(--third-text-color);
  }
  .btn700 {
    @include font(14px, 700, 1.29, normal);
  }
  .about__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 44px;
    border-radius: 22px;
    padding: 0;
    border: none;
    background: var(--btn-bg-color);
    font-family: 'DM Sans', sans-serif;
    color: var(--primary-title-color);
    margin-right: auto;
    margin-left: auto;
    // transition: background-color, 250ms, cubic-bezier(1, 0, 0, 1);
  }
  .about__btn:hover,
  .about__btn:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
  .about__btn .icon-arrow {
    margin-left: 15px;
    margin-top: 19px;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
  }
  .about__container,
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  .about__container::after {
    display: none;
  }

  .subtitle {
    @include font(26px, 400, 1.15, normal);
  }
  .section-title {
    @include font(48px, 400, 1.15, 0.04em);
  }
  .about__txt1 {
    width: 285px;
    margin-bottom: 16px;
  }
  .about__txt2,
  .about__txt3,
  .about__txt4 {
    // font-family: 'DM Sans';
    width: 335px;
    margin-right: 0;
    margin-left: auto;
    @include font(14px, 500, 1.93, normal);
  }
  .about__txt2 {
    margin-top: 100px;
    margin-bottom: 28px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .about__txt2::before {
    content: '';
    display: block;
    background-image: url('../images/about/cow-tab-x1.png');
    background-repeat: no-repeat;
    width: 340px;
    height: 339px;
    margin-right: 17px;
    margin-bottom: 46px;
    margin-left: 0;
    position: absolute;
    top: -40px;
    left: -360px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about__txt2::before {
      background-image: url('../images/about/cow-tab-x2.png');
      background-size: cover;
    }
  }
  .about__txt3 {
    margin-bottom: 15px;
  }
  .about__txt4 {
    margin-bottom: 62px;
  }
  .btn700 {
    @include font(16px, 700, 1.31, normal);
  }
  .about__btn {
    margin-right: 160px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 125px;
    padding-bottom: 60px;
  }
  .about__container,
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
  .about__container::after {
    content: '';
    display: block;
    min-width: 100%;
    height: 534px;
    background-image: url('../images/about/milk-dek-x1.png');
    position: absolute;
    left: 2px;
    bottom: -160px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container::after {
      background-image: url('../images/about/milk-dek-x2.png');
      background-size: cover;
    }
  }
  .subtitle {
    @include font(30px, 400, 1.13, 0.04em);
  }
  .section-title {
    @include font(58px, 400, 1.14, 0.06em);
  }
  .about__txt1 {
    width: 351px;
    margin-bottom: 15px;
  }

  .about__txt2,
  .about__txt3,
  .about__txt4 {
    width: 463px;
    margin-right: 0;
    margin-left: auto;
    @include font(14px, 500, 1.93, 0.04em);
  }
  .about__txt2 {
    margin-top: 106px;
    margin-bottom: 28px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @include font(16px, 500, 1.75, 0.04em);
  }
  .about__txt2::before {
    content: '';
    display: block;
    background-image: url('../images/about/cow-dek-x1.png');
    background-repeat: no-repeat;
    width: 516px;
    height: 516px;
    margin-right: 47px;
    margin-bottom: 46px;
    margin-left: 0;
    position: absolute;
    top: -55px;
    left: -585px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about__txt2::before {
      background-image: url('../images/about/cow-dek-x2.png');
      background-size: cover;
    }
  }
  .about__txt3 {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
  }
  .about__txt4 {
    margin-bottom: 45px;
    z-index: 1;
  }
  .btn700 {
    @include font(14px, 700, 1.29, normal);
  }
  .about__btn {
    margin-right: 288px;
    margin-left: auto;
  }
}
/* МОДАЛКА */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .about-modal {
  -webkit-transform: translate(-50%, -50%) scale(2);
  transform: translate(-50%, -50%) scale(2);
}
.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgb(255, 255, 255);

  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-modal-close {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 20px;
}
.icon-close {
  position: absolute;
}
@media screen and (min-width: 320px) {
  .about-modal {
    overflow: scroll;
  }
}

.data-modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #ffb8ca;
}

.modal-item + .modal-item {
  margin-top: 50px;
}
.modal-txt {
  font-family: 'DM Sans', cursive;
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin-left: 50px;
  position: relative;
}

.modal-txt::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -45px;
}
