.section-customer-reviews {
  padding-top: 80px;
  padding-bottom: 170px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 197px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 234px;
  }
}
.customer-reviews__img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.customer-reviews__coment-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px auto 0 auto;
  max-width: 280px;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;

  @media screen and (min-width: 768px) {
    max-width: 620px;
    padding: 47px 80px 34px 80px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
    padding: 47px 89px 39px 87px;
  }
}
.customer-reviews__coment {
  width: 157px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--secondary-text-color);
  background-image: repeating-linear-gradient(0deg, #e1e1e1 0 1px, transparent 6px 31px);
  z-index: 1;

  @media screen and (min-width: 768px) {
    width: 460px;
    font-size: 14px;
    line-height: 216%;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    font-size: 16px;
    line-height: 186%;
  }
}
.customer-reviews__coment-container::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 28px;
  left: 61px;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-reviews/icon-kavicky.png);
  z-index: 0;

  @media screen and (min-width: 768px) {
    top: 30px;
    left: 40px;
  }
  @media screen and (min-width: 1280px) {
    top: 32px;
    left: 50px;
  }
}

.customer-reviews__name {
  margin-top: 52px;
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    margin-top: 42px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 34px;
    font-size: 20px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    width: 32px;
    height: 4px;
    background-image: url(../images/customer-reviews/group8.png);
  }
}
.customers-reviews__icon {
  display: flex;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  & li {
    list-style: none;
    position: relative;
    width: 12px;
    height: 12px;
    display: block;
  }
  & button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  & li:not(:last-child) {
    margin-right: 18px;
  }
}

.slick-dots .slick-active button::before {
  content: '';
  position: absolute;
  top: 60%;
  left: -6%;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/customer-reviews/icon-home.svg);
}
