.footer {
  background-color: var(--primary-bg-color);
}
.footer-flex {
  border-bottom: 1px solid #e1e1e1;
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
// .footer-left {
//   @media screen and(min-width: 1280px) {
//     margin-left: 114px;
//   }
// }
// .footer-right {
//   @media screen and(min-width: 1280px) {
//     margin-right: 116px;
//   }
// }

.footer-subtitle {
  @include font(18px, 400, 1.17, normal);
  color: var(--secondary-title-color);
  width: 232px;
  text-align: start;
  margin-bottom: 17px;
  @media screen and(min-width: 768px) {
    @include font(26px, 400, 1.15, 0.04em);
    width: 340px;
  }
  @media screen and(min-width: 1280px) {
    @include font(30px, 400, 1.15, 0.04em);
    width: 474px;
    margin-bottom: 15px;
  }
}
.footer-main_title {
  @include font(34px, 400, 1.15, 0.04em);
  color: var(--primary-title-color);
  text-align: start;
  margin-bottom: 80px;
  // width: 340px;
  @media screen and(min-width: 768px) {
    @include font(48px, 400, 1.15, 0.06em);
    width: 340px;
    margin-bottom: 90px;
  }
  @media screen and(min-width: 1280px) {
    @include font(58px, 400, 1.15, 0.06em);
    width: 480px;
    margin-bottom: 97px;
  }
}

.footer-right {
  text-align: right;
}
.footer-social_list {
  display: flex;
  margin-bottom: 46px;
  justify-content: right;
  @media screen and(min-width: 1280px) {
    margin-bottom: 50px;
  }
}
.footer-social_item:not(:last-child) {
  margin-right: 28px;
  @media screen and(min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: 24px;
  }
}

.footer-social_icon {
  fill: #fea5bb;
  width: 32px;
  height: 32px;
  @media screen and(min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer-social_item:hover .footer-social_icon,
.footer-social_item:focus .footer-social_icon {
  fill: var(--primary-title-color);
}

.footer-contact {
  @include font(12px, 700, 1.86, normal);
  color: var(--secondary-text-color);
  .footer-contact-tel {
    color: var(--primary-title-color);
  }
  margin-bottom: 43px;
  @media screen and(min-width: 768px) {
    @include font(14px, 700, 1.86, normal);
  }
  @media screen and(min-width: 1280px) {
    @include font(16px, 500, 1.86, 0.02em);
  }
}

.footer-dev {
  @include font(14px, 700, 1.52, normal);
  padding-top: 22px;
  padding-bottom: 25px;
  width: 145px;
  text-align: center;
  color: var(--third-text-color);
  margin: 0 auto;
  @media screen and(min-width: 768px) {
    @include font(14px, 700, 1.86, 0.02em);
    width: 276px;
    padding-bottom: 18px;
    padding-top: 29px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
