:root {
  --primary-title-color: #d41443;
  --secondary-title-color: #ffa5ba;

  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --third-text-color: #907e82;

  --accent-color: #fff;

  --primary-bg-color: #fff5f6;
  --secondary-bg-color: #ffb8ca;
  --third-bg-color: #f0d1a5;
  --fourth-bg-color: #c2e297;
  --mobile-menu-bg-color: #e17992;
  --btn-bg-color: #ffffff;
}
