
    


<section class="about" id="about">
 
    <div class="container">

        <p class="about__txt1 subtitle">
            tradition and love
        </p>
        <h2 class="about__title section-title">
            how it’s made?
        </h2>

        <p class="about__txt2">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="about__txt3">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__txt4">Aliquam erat volutpat. Aenean accumsan.</p>

        <button type="button" class="about__btn btn700" data-modal-open> Read more  <svg class = "icon-arrow" width="10px" height="10px"><use href = './images/about/sprite-about.svg#icon-arrow'></use></svg></button>

    </div>
    <!-- МОДАЛКА -->
    <div class="backdrop is-hidden" data-modal>
        <div class="about-modal is-hidden">
    
            <button data-modal-close class="data-modal-close" type="button">
                <svg class="icon-close" width="40px" height="40px">
                    <use href="./images/about/sprite-about.svg#icon-close"> </use>
                </svg></button>
    
            <ul class="modal-list">
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae
                        assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae
                        assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae
                        assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae
                        assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
                <li class="modal-item">
                    <p class="modal-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae neque quia
                        molestiae
                        assumenda
                        cupiditate autem mollitia corporis esse necessitatibus?</p>
                </li>
            </ul>
       
        </div>
    </div>
  
</section>
<button onclick="topFunction()" id="myBtn" title="Go to top"> Top </button>
<script>
    mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
</script>
