<section class="advantages">
    <div class="container">
        <h1 class="visually-hidden">Advantages</h1>
        <ul class="advantages__list list">
            <li class="advantages__element">
                <p class="advantages__pre-title icon1">721</p>
                <p class="advantages__title">Aliquam c dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__element">
                <p class="advantages__pre-title icon2">16kg</p>
                <p class="advantages__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
            </li>
            <li class="advantages__element">
                <p class="advantages__pre-title icon3">84</p>
                <p class="advantages__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>