<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
  <ul class="list contacts__list">
    <li class="contacts__box">
      <p class="contacts__pre-titile">cafe</p>
      <h3 class="contacts__title">Chicago</h3>
      <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__line"></div>
      <ul class="list">
        <li class="contacts__date contacts__margin-0">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
        <li class="contacts__time">08:00 AM - 16:00 PM</li>
      </ul>
      <div class="contacts__line"></div>
      <address class="contacts__addr">
        <ul class="list">
          <li>
            <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>

    <li class="contacts__box">
        <p class="contacts__pre-titile contacts__foodtruck">foods 
          <span class="foodtruck-hidden"> </span> truck</p>
      <h3 class="contacts__title">Los Angeles</h3>
      <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__line"></div>
      <ul class="list">
        <li class="contacts__date contacts__margin-0">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
        <li class="contacts__time">08:00 AM - 16:00 PM</li>
      </ul>
      <div class="contacts__line"></div>
      <address class="contacts__addr">
        <ul class="list">
          <li>
            <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>

    <li class="contacts__box">
      <p class="contacts__pre-titile">cafe</p>
      <h3 class="contacts__title">New York</h3>
      <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__line"></div>
      <ul class="list">
        <li class="contacts__date contacts__margin-0">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
        <li class="contacts__time">08:00 AM - 16:00 PM</li>
      </ul>
      <div class="contacts__line"></div>
      <address class="contacts__addr">
        <ul class="list">
          <li>
            <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>
  </ul>

  <div class="contacts__btn-box">
    <button class="contacts__button-first" type="button">
      Our Locations

      <svg class="contacts__button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right"></use>
      </svg>
    </button>
    <button class="contacts__button-second" type="button">
      Franchise
      <svg class="contacts__button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right_2"></use>
      </svg>
    </button>
  </div>
  </div>
</section>
