<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts__box">
    <h3 class="contacts__title">cafe</h3>
    <h4 class="contacts__sub-title">Chicago</h4>
    <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts__line"></div>
    <ul class="contacts__list">
      <li class="contacts__date contacts__margin-0">Monday - Friday</li>
      <li class="contacts__time">06:00 AM - 10:00 PM</li>
      <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
      <li class="contacts__time">08:00 AM - 16:00 PM</li>
    </ul>
    <div class="contacts__line"></div>
    <address class="contacts__addr">
      <ul class="contacts__list">
        <li>
          <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </address>
  </div>

  <div class="contacts__box">
    <h3 class="contacts__title contacts__foodtruck">foodtruck</h3>
    <h4 class="contacts__sub-title">Los Angeles</h4>
    <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts__line"></div>
    <ul class="contacts__list">
      <li class="contacts__date contacts__margin-0">Monday - Friday</li>
      <li class="contacts__time">06:00 AM - 10:00 PM</li>
      <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
      <li class="contacts__time">08:00 AM - 16:00 PM</li>
    </ul>
    <div class="contacts__line"></div>
    <address class="contacts__addr">
      <ul class="contacts__list">
        <li>
          <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </address>
  </div>

  <div class="contacts__box">
    <h3 class="contacts__title">cafe</h3>
    <h4 class="contacts__sub-title">New York</h4>
    <p class="contacts__aft-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts__line"></div>
    <ul class="contacts__list">
      <li class="contacts__date contacts__margin-0">Monday - Friday</li>
      <li class="contacts__time">06:00 AM - 10:00 PM</li>
      <li class="contacts__date contacts__margin-0">Saturday - Sunday</li>
      <li class="contacts__time">08:00 AM - 16:00 PM</li>
    </ul>
    <div class="contacts__line"></div>
    <address class="contacts__addr">
      <ul class="contacts__list">
        <li>
          <a class="contacts__connection contacts__margin-0" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li>
          <a class="contacts__connection contacts__margin-0" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </address>
  </div>

  <div class="contacts__btn-box">
    <button class="contacts__button-first" type="button">
      Our Locations

      <svg class="contacts__button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right"></use>
      </svg>
    </button>
    <button class="contacts__button-second" type="button">
      Franchise
      <svg class="contacts__button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right_2"></use>
      </svg>
    </button>
  </div>
</section>
