<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts-box">
    <h3 class="contacts-box-title">cafe</h3>
    <p class="contacts-box-text">Chicago</p>
    <p class="contacts-box-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts-line"></div>
    <p class="contacts-box-text contacts-margin-0">Monday - Friday</p>
    <p class="contacts-box-time">06:00 AM - 10:00 PM</p>
    <p class="contacts-box-text contacts-margin-0">Saturday - Sunday</p>
    <p class="contacts-box-time">08:00 AM - 16:00 PM</p>
    <div class="contacts-line"></div>
    <a class="contacts-box-contacts contacts-margin-0" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
    <a class="contacts-box-contacts contacts-margin-0" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>

  <div class="contacts-box">
    <h3 class="contacts-box-title contacts-box-foodtruck">foodtruck</h3>
    <p class="contacts-box-text">Los Angeles</p>
    <p class="contacts-box-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts-line"></div>
    <p class="contacts-box-text contacts-margin-0">Monday - Friday</p>
    <p class="contacts-box-time">06:00 AM - 10:00 PM</p>
    <p class="contacts-box-text contacts-margin-0">Saturday - Sunday</p>
    <p class="contacts-box-time">08:00 AM - 16:00 PM</p>
    <div class="contacts-line"></div>
    <a class="contacts-box-contacts contacts-margin-0" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
    <a class="contacts-box-contacts contacts-margin-0" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>

  <div class="contacts-box">
    <h3 class="contacts-box-title">cafe</h3>
    <p class="contacts-box-text">New York</p>
    <p class="contacts-box-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="contacts-line"></div>
    <p class="contacts-box-text contacts-margin-0">Monday - Friday</p>
    <p class="contacts-box-time">06:00 AM - 10:00 PM</p>
    <p class="contacts-box-text contacts-margin-0">Saturday - Sunday</p>
    <p class="contacts-box-time">08:00 AM - 16:00 PM</p>
    <div class="contacts-line"></div>
    <a class="contacts-box-contacts contacts-margin-0" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
    <a class="contacts-box-contacts contacts-margin-0" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>

  <div class="contacts-btn-box">
    <button class="contacts-button-first" type="button">
      Our Locations

      <svg class="contacts-button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right"></use>
      </svg>
    </button>
    <button class="contacts-button-second" type="button">
      Franchise
      <svg class="contacts-button-icon">
        <use href="./images/contacts/btn_right.svg#icon-svg_btn_right"></use>
      </svg>
    </button>
  </div>
</section>
