<section class="section section__customer-reviews">
    <div class="container">
        <img class="customer-reviews__img"
            srcset="./images/customer-reviews/foto1.png 1x , ./images/customer-reviews/foto1-2x.png 2x "
            src="./images/customer-reviews/foto1.png" alt="Emily" 
            width="85" height="85"
        >
        <div class="customer-reviews__coment-container">
            <p class="customer-reviews__coment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
        <ul class="customers-reviews__icon">
            <li class="list"><img src="./images/customer-reviews/icon-home.svg" alt=""></li>
            <li class="list"><img src="./images/customer-reviews/Ellipse 8.png" alt=""></li>
            <li class="list"><img src="./images/customer-reviews/Ellipse 8.png" alt=""></li>
        </ul>
    </div>
</section>