<section class="gallery">
    <div class="container container-gallery">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="set-img">
            <picture>
                <source media="(min-width: 1280px)" srcset="
            ./images/gallery/gallery-dek-x1-min.jpg 1x,
            ./images/gallery/gallery-dek-x2-min.jpg 2x
          " />
                <source media="(min-width: 768px)" srcset="
            ./images/gallery/gallery-tab-x1-min.jpg 1x,
            ./images/gallery/gallery-tab-x2-min.jpg 2x
          " />
                <source media="(min-width: 320px)" srcset="
            ./images/gallery/gallery-mob-x1-min.jpg 1x,
            ./images/gallery/gallery-mob-x2-min.jpg 2x
          " />
                <img class="gallery__image" src="./images/gallery/gallery-mob-x1-min.jpg" alt="Gallery ice cream" />
            </picture>
        </div>
    </div>
</section>