<header class="header">
    <div class="header__wrapper container">
        <div class="header__nav">
            <img class="header__logo" src="./images/hero-header/logo.png" alt="">
        </div>
        <div class="header__wrap-title">
            <h1 class="header__title">ice cream<br>
                made with <br>
                <span class="header__title-span">passion</span>
            </h1>
            <a href="">
                <button class="header__btn1 btn400" type="button">Products</button></a>
            <a href=""><button class="header__btn2 btn400" type="button">How it’s made?</button></a>
        </div>
    </div>
</header>