<header class="header">
    <div class="header__wrapper container">

        <div class="header__nav">
            <img class="header__logo animate__animated animate__bounceIn" src="./images/hero-header/logo.png" alt="">
            <button class="header__open-menu " type="button" data-modal-opens>
                <img src="./images/hero-header/Burger.svg" width="20" height="12" alt="">
            </button>
            <ul class="header__list">
                <li class="header__element list"><a class="header__link link current" href="">Home</a></li>
                <li class="header__element list"><a class="header__link link" href="#about">About us</a></li>
                <li class="header__element list"><a class="header__link link" href="#about">How it’s made?</a></li>
                <li class="header__element list"><a class="header__link link" href="#products">Our products</a></li>
                <li class="header__element list"><a class="header__link link" href="#contact">Contact</a></li>
            </ul>
            <button class="header__nav-btn" type="button" data-menu-open>Buy now</button>

        </div>
        <div>
            <img class="elips-img" src="./images/hero-header/ellipse-mob-x1.png" alt="Овал">
            <img class="ice-img animate__animated animate__wobble" srcset="./images/hero-header/ice-mob-x1.png 1x,./images/hero-header/ice-mob-x2.png 2x  
            " src="./images/hero-header/ice-dek-x2.png" alt="Мороженое">
        </div>
        <div class="header__wrap-title">
            <h1 class="header__title">ice cream<br>
                made with <br>
                <span class="header__title-span">passion</span>
            </h1>
            <ul class="header__button-list list">
                <li><a class="header__btn1 btn400 link" href="#products">Products</a></li>
                <li><a class="header__btn2 btn400 link" href="#about">How it’s made?</a></li>
            </ul>
        </div>
        <div class="header__wrapper2">
            <img class="slider-img" srcset="./images/hero-header/slider-tab-x1.png 1x,./images/hero-header/slider-tab-x2.png 2x
                " src="./images/hero-header/slider-dek-x2.png" alt="" width="124" height="126">
            <div>
                <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                </p>
                <a class="right-button" href=""><svg width="9" height="9">
                        <use class="svg-buuton" href="./images/hero-header/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg></a>
            </div>
            <img class="girl-tab" srcset="./images/hero-header/girl-tab-x1.png 1x,./images/hero-header/girl-tab-x2.png 2x
                " src="./images/hero-header/girl-dek-x2.png" alt="Девушка" width="168" height="133">
            <img class="figure-tab1" srcset="./images/hero-header/Group1-tab-1x.png 1x,./images/hero-header/Group1-tab-2x.png 2x
            " src="./images/hero-header/Group1-dek-2x.png" alt="">
            <img class="figure-tab2" srcset="./images/hero-header/Group2-tab-1x.png 1x,./images/hero-header/Group2-tab-2x.png 2x
            " src="./images/hero-header/Group2-dek-2x.png" alt="">
        </div>
    </div>
    <div class="drop is-hidden" data-modals>
        <div class="mob-menu-container">
            <div class="mob-menu-container__wraper1">
                <button type="button" class="close-menu" data-modal-closes>
                    <svg width="14" height="14">
                        <use class="close-icon-menu" href="./images/hero-header/symbol-defs.svg#icon-close"></use>
                    </svg></button>
                <button class="button-menu" type="button">Buy now</button>
            </div>
            <div class="menu-container__wraper2">
                <ul class="mobil-list">
                    <li class="mobil-list__element list"><a class="mobil__link link currents" href="./">Home</a></li>
                    <li class="mobil-list__element list"><a class="mobil__link link" href="#about">About us</a></li>
                    <li class="mobil-list__element list"><a class="mobil__link link" href="#about">How it’s made?</a>
                    </li>
                    <li class="mobil-list__element list"><a class="mobil__link link" href="#products">Our products</a>
                    </li>
                    <li class="mobil-list__element list"><a class="mobil__link link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--    Modalka -->
<div class="drop is-hidden" data-menu>
    <div class="header-modal ">
        <button class="close-modal-menu" type="button" data-menu-close><svg width="25" height="25" aria-label="">
                <use href="./images/hero-header/symbol-defs.svg#icon-closes"></use>
            </svg></button>
        <p class="modal-title">Order Ice Cream</p>
        <form action="#" class="modal-form">
            <div class="modal-field">
                <label for="user-name" class="input-label">Name</label>
                <span class="input-wrapper">
                    <input type="text" name="user-name" id="user-name" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-tel" class="input-label">Telephone</label>
                <span class="input-wrapper">
                    <input type="tel" name="user-tel" id="user-tel" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-email" class="input-label">Email</label>
                <span class="input-wrapper">
                    <input type="email" name="user-email" id="user-email" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-text" class="input-label">Comment</label>
                <textarea name="user-text" id="user-text" placeholder="coment" class="modal-coment"></textarea>
            </div>
            <div class="text">
                <input type="checkbox" id="momdal-checkbox" class="momdal-checkbox visually-hidden">
                <label for="momdal-checkbox" class="chec-text">
                    I agree to the processing <span class="dogovor ">of Data</span><a href="" class="dogovor">
                    </a></label>
            </div>
            <button type="submit" class="modal-button">Send</button>
        </form>
        <img class="modal-img" src="./images/hero-header/slider-tab-x1.png" alt="">
    </div>

</div>