<section>
    <div class="container">
        <h2>100% natural</h2>
        <h1>products</h1>
        <ul><li><img src="" alt=""/>
        <h2>ice cream</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
    aliqua facilisis.</p>
<button></button></li>
            <li><img src="" alt="" />
            <h2>ice cream</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button></button></li>
            <li><img src="" alt="" />
            <h2>ice cream</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button></button></li></ul>
    </div>
</section>