<section class="products" id="products">
    <div class="container">
        <span class="lable">100% natural</span>
        <h2 class="title">products</h2>
        <ul class="menu">
            <li class="item-pink">
        <h3 class="item__title">ice cream</h3>
    <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.<span class="discription--mob">dolore magna
    aliqua facilisis.</span>
    </p>
<button class="full-discription" type="button"></button></li>
            <li class="item-yellow">
            <h3 class="item__title">ice coffee</h3>
            <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.<span class="discription--mob">dolore magna
            aliqua facilisis.</span></p>
            <button class="full-discription" type="button"></button></li>
            <li class="item-green">
            <h3 class="item__title">milkshakes</h3>
            <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.<span class="discription--mob">dolore magna
            aliqua facilisis.</span></p>
            <button class="full-discription" type="button"></button></li></ul>
    </div>
</section>