<section class="products">
    <div class="container">
        <span class="lable">100% natural</span>
        <h1 class="title">products</h1>
        <ul class="menu">
            <li class="item-pink">
        <h2 class="item__title">ice cream</h2>
    <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
    aliqua facilisis.</p>
<button class="full-discription" type="button"></button></li>
            <li class="item-yellow">
            <h2 class="item__title">ice coffee</h2>
            <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="full-discription" type="button"></button></li>
            <li class="item-green">
            <h2 class="item__title">milkshakes</h2>
            <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="full-discription" type="button"></button></li></ul>
    </div>
</section>